<!DOCTYPE html>
<html>
  <head>
    <title>API Entreprise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <section class="main-section" id="main">
      <%= yield %>
    </section>

    <%= render 'shared/footer' %>
  </body>
</html>
